doctype html
html(ng-app="NewOffer")
head
	
	// Angular Custom
	script(type='text/javascript', src='/javascripts/controllers/ExistingOffers.js')
	script(type='text/javascript', src='/javascripts/controllers/Animate.js')
	//JS
	script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
	script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
	script(type='text/javascript', src='/javascripts/NewOffer.js')
	script(type='text/javascript', src='/javascripts/vendor/angular-animate/angular-animate.min.js')
	script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.min.js')

div(ng-controller="ExistingOffers")
		//span.ribbon-button-alignment
		div#content(style="opacity: 1;")
			div.row
				ul
					li.animate-if(ng-repeat="offer in offers")
						div.span9 
							| {{offer.name}} 
							| {{offer.start}}
							| {{offer.end}}
							| {{offer.store_id}}
							| {{offer.description}}


