extends layout

block head
	// CSS
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/connr-production.css')
	link(rel='stylesheet', href='/stylesheets/connr-skins.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
	//link(rel='stylesheet', href='/stylesheets/jquery.dataTables.css')
	//link(rel='stylesheet', href='/stylesheets/demo_table.css')
	

	// Angular Custom
	script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.min.js')
	script(type='text/javascript', src='/javascripts/vendor/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/vendor/bootstrap.min.js')
	script(type='text/javascript', src='/javascripts/vendor/jquery.bootstrap.wizard.js')
	script(type='text/javascript', src='/javascripts/views/home.js')
	script(type='text/javascript', src='/javascripts/controllers/homeController.js')
	script(type='text/javascript', src='/javascripts/controllers/ExistingOffers.js')
	script(type='text/javascript', src='/javascripts/controllers/Animate.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBOEuJQyKSm1uQol5LqwwnCuk-vWWRdsg4&sensor=true&region=IN', type='text/javascript')


	
block content
	body.desktop-detected.fixed-header.fixed-navigation.smart-style-2(style="min-height: 1681px;", ng-controller="ExistingOffers")
		//Header design begins
		header#header
			div#logo-group
				span#logo
					img(src="/images/log.jpg", alt="ConnR")
			div.label
				| ConnR - Connect retailers to customers
			div.pull-right.btn-header
				button#btn-dashboard.btn.btn-primary
						i.fa.fa-gear
						| &nbsp;Dashboard
				button#btn-logout.btn.btn-danger
						i.fa.fa-sign-out
						| &nbsp;Sign Out
		//left panel design begins
		
	include account
	include modals/alert
	include modals/confirm
	include modals/form-errors

block scripts
	script(src='/javascripts/vendor/jquery/jquery.form.js')
	script(src='/javascripts/vendor/bootstrap-modal.js')
	script(src='/javascripts/vendor/bootstrap-transition.js')
	script(src='/javascripts/form-validator/accountValidator.js')
