extends layout

block head
	// CSS
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/connr-production.css')
	link(rel='stylesheet', href='/stylesheets/connr-skins.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
	//link(rel='stylesheet', href='/stylesheets/jquery.dataTables.css')
	//link(rel='stylesheet', href='/stylesheets/demo_table.css')
	

	// Angular Custom
	script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.min.js')
	script(type='text/javascript', src='/javascripts/vendor/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/vendor/bootstrap.min.js')
	script(type='text/javascript', src='/javascripts/vendor/jquery.bootstrap.wizard.js')
	script(type='text/javascript', src='/javascripts/vendor/jquery.validate.min.js')
	script(type='text/javascript', src='/javascripts/views/home.js')
	script(type='text/javascript', src='/javascripts/controllers/homeController.js')
	script(type='text/javascript', src='/javascripts/controllers/ExistingOffers.js')
	script(type='text/javascript', src='/javascripts/controllers/Animate.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBOEuJQyKSm1uQol5LqwwnCuk-vWWRdsg4&sensor=true&region=IN', type='text/javascript')
	script(src='/javascripts/form-validator/accountValidator.js')
	script(type='text/javascript', src='/javascripts/controllers/geoencoding.js')


	
block content
	body.desktop-detected.fixed-header.fixed-navigation.smart-style-2(style="min-height: 1681px;", ng-controller="ExistingOffers")
		//Header design begins
		header#header
			div#logo-group
				span#logo
					img(src="/images/log.jpg", alt="ConnR")
			div.label
				| ConnR - Connect retailers to customers
			div.pull-right.btn-header
				button#btn-settings.btn.btn-primary
						i.fa.fa-gear
						| &nbsp;Settings
				button#btn-logout.btn.btn-danger
						i.fa.fa-sign-out
						| &nbsp;Sign Out
		//left panel design begins
		aside#left-panel(style="min-height: 1632px;")
			div.login-info
				span:img.online(src="", alt="me")
				a#show-shortcut(href='') !{udata.name}
			nav
				ul
					li(ng-click="select(1)", ng-class="itemClass(1)")
						a(href='/mainDashboard',)
							i.fa.fa-lg.fa-fw.fa-home
							span.menu-item-parent 
							| Dashboard 
					li(ng-click="select(2)", ng-class="itemClass(2)")
						a(href='/controlPanel',)
							i.fa.fa-lg.fa-fw.fa-wrench
							span.menu-item-parent 
							| Control Panel
					li(ng-click="select(3)", ng-class="itemClass(3)")
						a(href='/createNew')
							i.fa.fa-lg.fa-fw.fa-table
							span.menu-item-parent 
							| Create New Offers
					li(ng-click="select(4)", ng-class="itemClass(4)")
						a(href='/showExisting')
							i.fa.fa-lg.fa-fw.fa-bar-chart-o
							span.menu-item-parent 
							| View Existing Offers 		
					li(ng-click="select(5)", ng-class="itemClass(5)")
						a(href='#')
							i.fa.fa-lg.fa-fw.fa-pencil-square-o
							span.menu-item-parent 
							| Analytics
					li(ng-click="select(6)", ng-class="itemClass(6)")
						a(href='#')
							i.fa.fa-lg.fa-fw.fa-list-alt
							span.menu-item-parent 
							| Suggestions
		//End left-bar navigation
		div#main(role="main")
			div(ng-view)
	include modals/alert