doctype html
html.js.flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name='author', content='ztapps')
		link(rel='shortcut icon', href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/favicon.ico')
		title ConnR App
		link(href='../stylesheets', rel='stylesheet', type='text/css')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/bootstrap.css', rel='stylesheet', media='screen')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/font-awesome.min.css', rel='stylesheet')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/magnific-popup.css', rel='stylesheet')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/style.css', rel='stylesheet')
	body(style='')
		header#home
			#carousel-main.carousel.slide
				ol.carousel-indicators
					li.active(data-target='#carousel-main', data-slide-to='0')
					li.(data-target='#carousel-main', data-slide-to='1')
					li.(data-target='#carousel-main', data-slide-to='2')
					li.(data-target='#carousel-main', data-slide-to='3')
					li.(data-target='#carousel-main', data-slide-to='4')
				//
					 Wrapper for slides 
				.carousel-inner
					.item
						img.bg(src='./landingPage_files/bg-1.jpg', alt='')
						.container(style='padding: 60px 0;')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.left
								.iphone-5-container.device-container
									img(src='./landingPage_files/iphone-5-screen.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.right
								.row.text-center
									.col-lg-12
										h1.title ConnR
										h2 Helping you offer more to your customers
										p
											| ConnR is a technology company that enables you to implement Information Technology in a scalable way at price-points that are competitive and make sense for you.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-apple
													| PURCHASE
					.item
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-2.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.left
								.nexus-4-container.device-container
									img(src='./landingPage_files/nexus-4-screen.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.right
								.row.text-center
									.col-lg-12
										h1.title INTERACT
										h2 Engage interested customers
										p
											| Customers can visit your store and subscribe to future offerings. Using this goodwill, build campaigns to further engage them and keep a loyal customer base.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-android
													| PURCHASE
					.item
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-3.jpg', style='position: absolute; top: 0; left: 0; height: auto; width: 100%; z-index: -1;', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.left
								.lumia-900-container.device-container
									img(src='./landingPage_files/lumia-900-screen.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.right
								.row.text-center
									.col-lg-12
										h1.title INCREASE EFFICIENCY
										h2 Use data and real-time marketing
										p
											| We help you send details on real-time offers and measure your marketing efficiency. Using feedback from the same, we also help you optimize future offers for better conversion.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-windows
													| PURCHASE
					.item
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-4.jpg', alt='')
							.col-xs-6.col-sm-7.col-md-6.col-lg-7.left
								.ipad-container.device-container
									img(src='./landingPage_files/ipad-screen.jpg', alt='')
							.col-xs-6.col-sm-5.col-md-6.col-lg-5.right
								.row.text-center
									.col-lg-12
										h1.title PARTNER
										h2 Get a partner whose success is correlated to yours
										p
											| At ConnR, we believe that a one-time sales model is not effective with rapidly changing technology standards. Therefore we only offer our platform as a service so that you get access to all improvements and itertions of our technology and UI platform.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-apple
													| PURCHASE
					.item.active
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-5.jpg', alt='')
							.col-xs-6.col-sm-7.col-md-6.col-lg-7.left
								.surface-container.device-container
									img(src='./landingPage_files/surface-screen.jpg', alt='')
							.col-xs-6.col-sm-5.col-md-6.col-lg-5.right
								.row.text-center
									.col-lg-12
										h1.title CIRCULUS
										h2 Responsive App Landing Page
										p
											| Showcase your hard work with our HTML5 app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, maiores sint possimus distinctio tenetur in magni animi pariatur sed.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-apple
													| PURCHASE
		section#features
			.container
				.row
					.col-lg-12(style='margin-bottom: 30px;')
						h3(style='margin-top: 0; color: gray;') ConnR for businesses
						h2 Here's how ConnR can help you grow your business 
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-comments
						h3 Engage your customers
						p
							| Connect with your customers painlessly using our easy-to-use platform. Keep them informed of all the latest offers and deals at their favorite store!
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-mobile-phone
						h3 Multiplatform support
						p We support all popular platforms such as Android and iPhone
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-dashboard
						h3 Customer analytics
						p
							| Access our rich database of customer analytics that can help you drive sales, manage your inventory and drive customer engagement. Understand customer behavior so you can devise individual reward programs at scale.
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-desktop
						h3 Software-as-a-service
						p
							| No special installation or hardware required. Get access to a system that is regularly updated with new features and supported by a world class team. No hidden costs and you can cancel your subscription anytime.
		section#screenshots
			.container
				.popup-gallery-screens.row
					.col-lg-12(style='margin-bottom: 30px;')
						h3(style='margin-top: 0; color: #1C7E3B;') SCREENSHOTS
						h2 Check Out Our App In Action
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2733/screenshots/606745/attachments/49020/infographic-dribbble-large.png', title='Screenshot 1')
							.pic
								img(src='./landingPage_files/infographic-dribbble.png', alt='')
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2733/screenshots/609727/attachments/49521/Featured_2x.png', title='Screenshot 2')
							.pic
								img(src='./landingPage_files/featured-dribbble.png', alt='')
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2733/screenshots/606745/attachments/49020/infographic-dribbble-large.png', title='Screenshot 3')
							.pic
								img(src='./landingPage_files/infographic-dribbble.png', alt='')
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2559/screenshots/889914/attachments/96674/big.png', title='Screenshot 4')
							.pic
								img(src='./landingPage_files/screen_shot_2013-01-10_at_9.54.14_pm.png', alt='')
		section#additional
			div(style='width: 96%; margin: 0 auto;')
				.row(style='padding-bottom: 0;')
					.col-lg-6.col-lg-push-1(style='position: relative; z-index: 1;')
						h3 CRAFTED BEAUTIFULLY
						h2 Attention To Every Last Detail
						a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', style='margin-left: 0; margin-right: 0;')
							i.icon-shopping-cart
							| PURCHASE
					.col-lg-6.col-lg-pull-1(style='position: relative; z-index: 0;')
						img(src='./landingPage_files/iphone_white_angle1.png', alt='')
		section#contact
			.container
				.row
					.col-lg-12(style='text-align: center; margin-bottom: 30px;')
						h3(style='margin: 0;') CONTACT US
						h2 Tell Us What Is On Your Mind
					.col-lg-12(style='text-align: center;')
						a.btn.btn-2(data-toggle='modal', href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#contactModal', style='margin: 0 auto;') CONTACT US
			//
				 Modal 
			#contactModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactModal', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h3.modal-title(style='color: #555;') Contact Form
							form#contact_form.form-horizontal(role='form', name='contactForm', method='post', action='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/email.php')
								.form-group
									label.control-label(for='name') Name*
									input#name.form-control(type='text', name='name', placeholder='What is your name?')
									#name_error.error Please enter your name.
								.form-group
									label.control-label(for='email') Email*
									input#email.form-control(type='email', name='email', placeholder='What is your email address?')
									#email_error.error Please enter your valid email address.
								.form-group
									label.control-label(for='subject') Subject*
									input#subject.form-control(type='text', name='subject', placeholder='Please enter the subject.')
									#subject_error.error Please enter the subject.
								.form-group
									label.control-label(for='message') Message*
									textarea#message.form-control(rows='5', name='message', placeholder='What do you want to tell us?')
									#message_error.error Please enter your message.
								.form-group
									.col-lg-offset-3.col-lg-6.text-center
										#mail_success.success Your message has been sent successfully.
										#mail_fail.error Sorry, error occured this time sending your message.
										span#submit
											input#send_message.btn.btn-2(type='submit', value='Send Message')
		footer
			.container
				.row
					.col-lg-6.col-lg-push-6
						ul
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-facebook
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-twitter
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-youtube-play
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-linkedin
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-dribbble
					.col-lg-6.col-lg-pull-6
						h5
							| © Copyright 2014 -
							a(href='http://connr.us/') Connr.us LLC
		//
			 Javascripts 
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js')
		script(src='../javascripts/landingPage/polyfills.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='../javascripts/landingPage/main.js')
