doctype html
html(ng-app="NewOffer")
	head
		title= title

		// CSS
		//link(rel='stylesheet', href='/stylesheets/screen_preview.css')    
		

		//JS
		script(type='text/javascript', src='/javascripts/vendor/ng-file-upload/angular-file-upload-shim.min.js')
		script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
		script(type='text/javascript', src='/javascripts/vendor/ng-file-upload/angular-file-upload.min.js')
		script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
		script(type='text/javascript', src='/javascripts/vendor/angular-route/angular-route.min.js')
		script(type='text/javascript', src='/javascripts/NewOffer.js')
		script(type='text/javascript', src='/javascripts/vendor/angular-animate/angular-animate.min.js')
		//script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.min.js')

		//AJAX
		//script(type='text/javascript', src='/javascripts/ajax/loadExistOfferPage.js')

		//Graphics using Morris, Inline charts and easy Pie charts
		//<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
		//<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		//<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
	
	block head
	body
	block content
	block scripts