
extends layout

block head
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	#login-container
		form(method="post")#login-form.well.span4
			h1 Sign in!
			p.subheading Please Login To Your Account
			label Username 
			input(type="text", name="user", id='user-tf').span4.required
			label Password
			input(type="password", name="pass", id='pass-tf').span4.required
			button(type="submit")#btn-login.btn.btn-primary
				i.icon-lock.icon-white
				| Sign in
			label#rememberMe.checkbox Remember Me
				input(type="checkbox", checked='checked', name="remember_me")
			div.clear-fix
			hr
			div.btm-links
				a(href='#')#forgot-password Forgot Your Password?
				a(href='/api/admin/general/signup')#create-account Create An Account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/javascripts/vendor/jquery/jquery.min.js')
	script(src='/javascripts/vendor/jquery/jquery.form.js')
	script(src='/javascripts/vendor/bootstrap-modal.js')
	script(src='/javascripts/vendor/bootstrap-transition.js')
	script(src='/javascripts/views/login.js')
	script(src='/javascripts/controllers/loginController.js')
	script(src='/javascripts/form-validator/loginValidator.js')
	script(src='/javascripts/form-validator/emailValidator.js')
