
extends layout

block head
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	include account 
	include modals/alert

block scripts
	script(src='/javascripts/vendor/jquery/jquery.min.js')
	script(src='/javascripts/vendor/jquery/jquery.form.js')
	script(src='/javascripts/vendor/bootstrap-modal.js')
	script(src='/javascripts/vendor/bootstrap-transition.js')
	script(src='/javascripts/views/signup.js')
	script(src='/javascripts/controllers/signupController.js')
	script(src='/javascripts/form-validator/accountValidator.js')