/********************************************************************
Yohoo
Theme: Circulus - Flat Responsive Landing Page
Created: August 2013
Creator: Kevin Mckoy
Support: https://themeforest.com/user/realmckoy01


Structure of CSS

1. General Layout
2. Header Section
3. Features Section
4. Screenshots Section
5. Additional Section
6. Contact Section
7. Media Queries

*********************************************************************/


/********************************************************************
	1. GENERAL LAYOUT
*********************************************************************/

body, h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
}

body {
    margin: -10px 0 0 0;
    padding:0;
    background-color:#2DCC60;
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    color:#fff;
}

p {
    font-family: open-sans, sans-serif;
}

section {
    padding:60px 0;
}

#logo img {
width: 110px;
height: auto;
padding-left: 3px;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-1 {
    padding: 20px 30px 20px 120px;
    background: #2ecc71;
    color: #fff;
}

.btn-1:hover {
	     background: #2dcc60;
}

.btn-1:active {
	      background: #2bbc59;
	      top: 2px;
}

.btn-1 i {
    margin-left:-90px;
    margin-right:30px;
    font-size:15px;
}

.btn-2 {
    background: #2ecc71;
    color: #fff;
    padding: 20px 30px;
    overflow: hidden;
    margin:0;
}

.btn-2 i {
    margin-left:30px;
}

.btn-2:hover {
	     background: #2dcc60;
}

.btn-2:active {
	      background: #2bbc59;
	      top: 2px;
}

.btn-3 {
    padding: 25px 30px 25px 30px;
    background: #2ecc71;
    color: #fff;
}

.btn-3:hover {
	     background: #2dcc60;
}

.btn-3:active {
	      background: #2bbc59;
	      top: 2px;
}

@keyframes fadein {
    0% {opacity:0}
    90% {opacity:0}
    100% {opacity:1}
}

@-moz-keyframes fadein { 
    0% {opacity:0}
    90% {opacity:0}
    100% {opacity:1}
}

@-webkit-keyframes fadein {
    0% {opacity:0}
    90% {opacity:0}
    100% {opacity:1}
}

@-o-keyframes fadein { 
    0% {opacity:0}
    100% {opacity:1}
}    

@keyframes slideLeft {
    0% {
        opacity:0;
        transform:translateX(40%);
    }
    100% {
        opacity:1;
        transform:translateX(0%);
    }
}

@-moz-keyframes slideLeft { 
    0% {
        opacity:0;
        -moz-transform:translateX(40%);
    }
    100% {
        opacity:1;
        -moz-transform:translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        opacity:0;
        -webkit-transform:translateX(40%);
    }
    100% {
        opacity:1;
        -webkit-transform:translateX(0%);
    }
}

@-o-keyframes slideLeft { 
    0% {
        opacity:0;
        -o-transform:translateX(40%);
    }
    100% {
        opacity:1;
        -o-transform:translateX(0%);
    }
}     

@keyframes slideRight {
    0% {
        opacity:0;
        transform:translateX(-40%);
    }
    100% {
        opacity:1;
        transform:translateX(0%);
    }
}

@-moz-keyframes slideRight { 
    0% {
        opacity:0;
        -moz-transform:translateX(-40%);
    }
    100% {
        opacity:1;
        -moz-transform:translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        opacity:0;
        -webkit-transform:translateX(-40%);
    }
    100% {
        opacity:1;
        -webkit-transform:translateX(0%);
    }
}

@-o-keyframes slideRight { 
    0% {
        opacity:0;
        -o-transform:translateX(-40%);
    }
    100% {
        opacity:1;
        -o-transform:translateX(0%);
    }
}    

.carousel-control {
    width:5%;
}

.carousel-control.left {
    background:none;
    filter:none;
    left:0px;
}

.carousel-control.right {
    background:none;
    filter:none;
    right:0;
    left:95%;
}

.carousel-control .glyphicon, .carousel-control .icon-prev, .carousel-control .icon-next {
    width:30px;
    height:30px;
    font-size:90px;
    margin-left: 0;
}

.carousel-indicators {
    z-index:10;
}

.carousel-indicators li {
    border: 1px solid gray;
}

.carousel-indicators .active {
    background-color: black;
}

.item img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1110px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: absolute;
    z-index:-1;
  top: 0;
  left: 0;
}

/********************************************************************
	2. HEADER LAYOUT
*********************************************************************/

header {
    background-color:rgba(0, 0, 0, 0.4);
    animation: fadein 1s;
    -moz-animation: fadein 1s; 
    -webkit-animation: fadein 1s; 
    -o-animation: fadein 1s;
}

header h1 {
    font-size: 42px;
    margin-bottom:40px;
    color:#2dcc60;
}

header h2 {
    font-weight:300;
    text-align:center;
    margin-bottom:30px;
}

header p {
    font-weight:300;
    margin-top:20px;
    margin-bottom:30px;
}

header .container {
    padding-top:40px;
}

.iphone-5-container {
    background-image:url(/images/iphone-5.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width: 299px;
    height: 577px;
    margin:0 auto; 
}

.iphone-5-container img {
    width: 219px;
    margin: 94px 40px 0;
    height: 389px;
    position: absolute;
}

.nexus-4-container {
    background-image:url(/images/nexus-4.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width: 299px;
    height: 577px;
    margin:0 auto; 
}

.nexus-4-container img {
    width: 265px;
    margin: 69px 17px 0;
    height: 442px;
    position: absolute;
}

.lumia-900-container {
    background-image: url(/images/lumia-900.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 293px;
    height: 577px;
    margin: 0 auto; 
}

.lumia-900-container img {
    width: 249px;
    margin: 83px 23px 0;
    height: 415px;
    position: absolute;
}

.ipad-container {
    background-image: url(/images/ipad.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 577px;
    margin: 0 auto;
}

.ipad-container img {
    width: 345px;
    margin: 58px 28px 0;
    height: 460px;
    position: absolute;
}

.surface-container {
    background-image: url(../img/containers/surface.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 577px;
    margin: 0 auto;
}

.surface-container img {
    width: 281px;
    margin: 39px 60px 0;
    height: 499px;
    position: absolute;
}

header a.btn {
    margin-bottom:30px;
    margin-left:0;
    margin-right:0;
}

header .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 0px;
}

header .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ffffff;
}

header .next .left {
    opacity:0;
}

header .next .right {
    opacity:0;
}

header .active .left {
    animation: slideLeft 0.75s;
    -webkit-animation: slideLeft 0.75s;
    -moz-animation: slideLeft 0.75s;
    -o-animation: slideLeft 0.75s;
}

header .active .right {
    animation: slideRight 0.75s;
    -webkit-animation: slideRight 0.75s;
    -moz-animation: slideRight 0.75s;
    -o-animation: slideRight 0.75s;
}

/********************************************************************
	3. FEATURES LAYOUT
*********************************************************************/

#features {    
    background-color: #fff;
    text-align:center;
}


#features h1, #features h2 {
    color:#555;
}

#features h3, #features h4 {
    color:#2ecc71;
}

#features h2 {
    font-weight:300;
    font-size:42px;
}

#features h3 {    
    text-transform:uppercase;
}

#features p {
    margin-top:25px;
    color:black;
}

#features i {
    font-size:64px;  
    margin-top:30px;
    color:#555;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#features .f-item {
    padding: 10px;
}

#features .f-item:hover {
    border-color:gray;
}

#features .f-item:hover i {
    color:#2ecc71;
}

#features div.bottom-circle {
    position:absolute;
    height:89px;
    width:89px;
    background-color: #fff;
    border-radius:44.5px;
    bottom:0%;
    left:50%;
    margin-bottom:-45.5px;
    margin-left:-45.5px;
    padding-top:25px;
    text-align:center;
    font-size:40px;
    z-index:1;
}


/********************************************************************
	4. SCREENSHOTS
*********************************************************************/

#screenshots {
    text-align:center;
}

#screenshots h2 {
    font-weight:300;
    font-size:42px;
}

#screenshots h3 {    
    text-transform:uppercase;
}

#screenshots div.pic {
    border: 5px solid #f5f5f5;
    overflow:hidden;
    -webkit-transition: all .2s ease-in-out;;
     -moz-transition: all .2s ease-in-out;;
       -o-transition: all .2s ease-in-out;;
      -ms-transition:all .2s ease-in-out;;
          transition: all .2s ease-in-out;;
    
}

#screenshots div.pic:hover > img {
    -webkit-transform:scale(2, 2);
    -moz-transform:scale(2, 2);
    -o-transform:scale(2, 2);
    -ms-transform:scale(2, 2);
    transform:scale(2, 2);
}

#screenshots div.pic > img {
    width:100%;
    height:auto;
    position:relative;
    z-index:-1;
    -webkit-transition: all .2s ease-in-out;;
    -moz-transition: all .2s ease-in-out;;
    -o-transition: all .2s ease-in-out;;
    -ms-transition: all .2s ease-in-out;;
    transition: all .2s ease-in-out;;
}

#screenshots div.pic:hover {
    background: url(../img/search.png) 50% 50% no-repeat rgba(0, 0, 0, 0.6);
}

/********************************************************************
	5. ADDITIONAL SECTION
*********************************************************************/

#additional {
    background-color:#fff;
    color:black;
    padding:0;
}

#additional div.top-circle {
    position:absolute;
    height:89px;
    width:89px;
    background-color: #fff;
    border-radius:44.5px;
    top:0%;
    left:50%;
    margin-top:-45.5px;
    margin-left:-45.5px;
    padding-top:25px;
    text-align:center;
    font-size:40px;
}

#additional div.row {
    padding:60px 0;
}

#additional img {
    width:100%;
    height:auto;
}

#additional h1, #additional h2 {
    color:#555;
}

#additional h2 {
    font-weight:300;
    font-size:42px;
}

#additional h3, #additional h4 {
    color:gray;
}

#additional h3 {    
    text-transform:uppercase;
}

#additional p {
    color:black;
}

#additional a.carousel-control {
    width:0;
    font-size:90px;
    color:gray;
}

.item ul {
    text-align:left;
    list-style-type:circle;
}

.item ul li {
    display:block;
}


/********************************************************************
	6. CONTACT SECTION
*********************************************************************/

#contact {
    background-color: #34495e;
}

#contact h2 {
    font-weight:300;
    font-size:42px;
}

#contact h3 {
    color:#2ecc71;
}

#contact h4 {
    margin:20px 0 10px;
}

#contact input.btn {
    margin:20px 0 0;
}

#contact form {
    width:90%;
    max-width:600px;
    margin:0 auto;
}

#contact input.form-control {
    height:50px;
}

#contact label {
    font-weight:300;
    color:black;
}

ul {
    text-align:center;
}

ul li {
    display:inline-block;
    padding:0 10px;
}

ul li i {
    font-size:28px;
}

ul li a {
    color:white;
    text-decoration:none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

ul li a:hover {
    color:#2dcc60;
    text-decoration:none;
}

.error { 
       display: none; 
       padding:10px; 
       margin:0 0 5px 0;
       color: #D8000C; 
       font-size:12px;
       background-color: #FFBABA;
}
.success { 
	 display: none; 
	 padding:10px; 
	 color: #044406; 
	 font-size:12px;
	 background-color: #B7FBB9;
}

.error img { 
       vertical-align:top; 
}


/********************************************************************
	1. FOOTER SECTION
*********************************************************************/

footer {
    background-color: #2c3e50;  
    padding:15px;
}

footer ul {
    text-align:right;
    padding:0;
    margin: 0;
}

footer ul li {
    padding:0 0 0 20px;
}


/********************************************************************
	7. MEDIA QUERIES
*********************************************************************/

@media (max-width:450px) {
    
.ipad-container {
    width: 280px;
    height: 577px;
    margin: 0 auto;
}

.ipad-container img {
    width: 250px;
    margin: 124px 15px 0px;
    height: 331px;
    position: absolute;
}

.surface-container {
    width: 280px;
    height: 577px;
    margin: 0 auto;
}

.surface-container img {
    width: 219px;
    margin: 95px 30px 0px;
    height: 388px;
    position: absolute;
}

.carousel-control .glyphicon, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 50px;
}

#additional {
    text-align:center;
}

}

@media (max-width:767px) {
     
header div.right {
    margin-top:0;
}

#additional {
    text-align:center;
}
    
#contact address {
    padding-left:15px;
}
    
#contact p {
    padding-left:15px;
}
    
}

@media (max-width:991px) {
    
header div.right {
    margin-top:0;
}
    
#features p {
    margin-top:20px;
    margin-bottom:40px;
}

#additional {
    text-align:center;
}


footer {
    text-align:center;
}

footer ul {
    text-align:center;
    padding:0;
}

footer ul li {
    padding:0 10px;
}
    
}

/* Navigation Fixed */ 
 
.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 999999;
    height: 0px;
    border-bottom: 0px solid #e5e5e5;
    overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    transition: height 0.6s;}


/* FOR REDUCING THE HEIGHT OF THE NAVIGATION */

.cbp-af-header #logo {
    padding:25px 20px 0px 0px; 
    width:110px;}

.cbp-af-header #nav a {
    line-height: 60px;}

.cbp-af-header.cbp-af-header-shrink #logo { 
    padding:25px 20px 0px 0px; 
    width:110px;}

/* Transitions and class for reduced height */

.cbp-af-header #logo,
.cbp-af-header #nav a {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;}

.cbp-af-header.cbp-af-header-shrink {
    height: 80px;
    border-bottom: 1px solid #e5e5e5;}

.cbp-af-header.cbp-af-header-shrink #nav a {
    line-height: 60px;}


