/* ################################################## */
/* # ROOT GUIDE                                       */
/* ################################################## */
body#rootGuide { background:#4d4d4d url('/2013/images/body-bg.png') repeat-x; }
#rootGuide  .wrapper { width: 706px; font-family: Helvetica !important; position: relative; margin-bottom: 100px; }
body > #rootGuide .wrapper { height: 100%; }
#rootGuide .outer-wrapper { background: transparent; padding: 0; }
#rootGuide a { color: #444444; }
#rootGuide h1 { display: none; }
#rootGuide #referenceHeader { border: 0; margin-bottom: 0; border-radius: 4px 4px 0 0; box-shadow: 0 0 10px rgba(0,0,0,0.39); }

#rootGuide .links ul { clear: both; width: 708px; height: 40px; }
#rootGuide .links ul li { background: transparent; list-style-type: none; display: inline-block; margin: 0 2px 0 0; padding: 0; font-size: 0; float: left; }
#rootGuide .links  a { font-size: 15px; display: inline-block; background: #af0d18; line-height: 40px; width: 234px; color: #ffffff; text-align: center; box-shadow: 0 0 10px rgba(0,0,0,0.39); }
#rootGuide .links a:hover { background: #98040a; }

#rootGuide #accordion-container { background: #444; padding: 3px 0; }

#rootGuide .accordion { overflow: hidden; margin: 2px 0 0 0; box-shadow: 0 0 10px #333; }
#rootGuide .accordion-header { font-family: Helvetica !important; line-height: 55px; font-size: 18px; color: #ffffff; padding: 0 0 0 80px; display: block; cursor: pointer; font-weight: normal; display: block; }
  #rootGuide h2.one { background: url('/2013/images/mathematica/1-icon-core-language.png') 10px center no-repeat #dc3410;}
  #rootGuide h2.two { background: url('/2013/images/mathematica/2-icon-mathematics-algorithms.png') 10px center no-repeat #d7300e;}
  #rootGuide h2.three { background: url('/2013/images/mathematica/3-icon-visualization.png') 10px center no-repeat #cf2c0d;}
  #rootGuide h2.four { background: url('/2013/images/mathematica/4-icon-data-visualization.png') 10px center no-repeat #c9280c;}
  #rootGuide h2.five { background: url('/2013/images/mathematica/5-icon-computable-data.png') 10px center no-repeat #c2230a;}
  #rootGuide h2.six { background: url('/2013/images/mathematica/6-icon-dynamic-interactivity.png') 10px center no-repeat #bb2009;}
  #rootGuide h2.seven { background: url('/2013/images/mathematica/7-icon-notebooks-documents.png') 10px center no-repeat #b51c07;}
  #rootGuide h2.eight { background: url('/2013/images/mathematica/8-icon-system-interface.png') 10px center no-repeat #b11906;}
  #rootGuide h2.one:hover { background-color: #c12d0e; }
  #rootGuide h2.two:hover { background-color: #bc2a0c; }
  #rootGuide h2.three:hover { background-color: #b6270c; }
  #rootGuide h2.four:hover { background-color: #b0230b; }
  #rootGuide h2.five:hover { background-color: #aa1f09; }
  #rootGuide h2.six:hover { background-color: #a31c08; }
  #rootGuide h2.seven:hover { background-color: #931906; }
  #rootGuide h2.eight:hover { background-color: #9c1605; }
  #rootGuide h2.accordion-header span { display: block; line-height: 55px; width: 626px; background: url('/2013/images/mathematica/arrow-off.png') right center no-repeat; }
  #rootGuide h2.accordion-header span:hover { background: url('/2013/images/mathematica/arrow-on.png') right center no-repeat; }
  #rootGuide h2.active-header span, #rootGuide h2.active-header span:hover { background: url('/2013/images/mathematica/arrow-selected.png') right center no-repeat;}

#rootGuide .accordion-content { display: none; margin: 0 7px 7px 7px; box-shadow: 0 0 10px rgba(0,0,0,0.39); background-color: #ffffff; overflow: hidden; padding: 10px 0 10px 0; }
#rootGuide .accordion-content a:hover { color: #c00; }
  #rootGuide .accordion.one { background-color: #dc3410; }
  #rootGuide .accordion.two { background-color: #d7300e; }
  #rootGuide .accordion.three { background-color: #cf2c0d; }
  #rootGuide .accordion.four { background-color: #c9280c; }
  #rootGuide .accordion.five { background-color: #c2230a; }
  #rootGuide .accordion.six { background-color: #bb2009; }
  #rootGuide .accordion.seven { background-color: #b51c07; }
  #rootGuide .accordion.eight { background-color: #b11906; }
  #rootGuide .accordion-content ul  li { background: url('/2013/images/mathematica/red-bullet.jpg') no-repeat 8px center; font-size: 13px; font-weight: bold; line-height: 15px; }
  #rootGuide ul.left { float: left; width: 250px; margin-left: 58px; }
  #rootGuide ul.right { float: left; }
  
#rootGuide .footer { padding-left: 9px; background: #ffffff; box-shadow: 0 0 10px rgba(0,0,0,0.39); display: block; overflow: hidden; margin: 0;  border-radius: 0 0 4px 4px; border: 0; }
  #rootGuide .footer ul { float: left; margin: 10px 0 10px 56px; list-style: none; font-size: 9.5px; }
  #rootGuide .footer ul li { background: transparent !important; }
  #rootGuide .footer a:hover { color: #c00; }
  
#rootGuide .root-guide-seo p { margin: 20px 25px 0; font-size: 10px; line-height: 14px; color: #ddd; }

#languageRootGuide { text-align:center;margin:0px;padding:0px; background:#4d4d4d url('/2013/images/body-bg.png') repeat-x !important; }
#languageRootGuide body, #languageRootGuide p, #languageRootGuide td, #languageRootGuide tr, #languageRootGuide blockquote { font: 11px/15px Arial, Geneva ,sans-serif; }

#languageRootGuide .header { margin: 60px auto 10px; background: url('/2013/images/top-header.png') no-repeat; width: 920px; height: 77px; text-align: right; padding-bottom: 20px; }
#languageRootGuide .header-inner { width: auto; background: transparent; }
#languageRootGuide .outer-wrapper { background: transparent; padding: 0 0 250px 0; }
#languageRootGuide .container { width:930px; margin:0px auto 90px auto; padding: 0 0 40px; text-align: left; }
#languageRootGuide .thumb { text-align: left; position: relative; display: inline-block; float: left; margin: 5px; width:222px; height:152px; box-shadow: 0px 0px 9px rgba(0,0,0,.3); cursor: pointer; }
  #languageRootGuide .thumb a:link img{border-color:#ccc;}
  #languageRootGuide .thumb a:hover img{border-color:#ffbf4c;}

#languageRootGuide .links-list { width: 299px; background: #fff; position: absolute; top: 100px; display: none; z-index: 9999; box-shadow: 0px 0px 9px rgba(0,0,0,.3); cursor: default; font-family: Arial, Helvetica, sans-serif; }
  #languageRootGuide .links-list ul { list-style-type: none; margin: 11px 0px 14px 0px; padding: 0; }
    #languageRootGuide .links-list ul li { background: none; padding: 0px; margin: .75em 0; }
  #languageRootGuide .links-list a { font-weight: bold; font-size: 14px; line-height: 1.3em; padding: 3px 15px; margin: 5px 0; display: block; cursor: pointer; }
  #languageRootGuide .links-list a:hover { background: #dadada; }

#languageRootGuide .thumb { width: 299px; height: 100px; }
#languageRootGuide .podheader { width: 299px; height: 100px; display: table-cell; vertical-align: middle; font-family: 'Open Sans', serif; }
  #languageRootGuide .podheader .title { color: #fff; font-size: 17px; line-height: 1.4em; display: inline-block; width: 160px; padding: 0 0 0 20px; text-shadow: 0px 1px 4px rgba(0,0,0,.3); }

#languageRootGuide .icon1 { background: url('/2013/images/icon_corelang.png') right center no-repeat; }
#languageRootGuide .icon2 { background: url('/2013/images/icon_symbolic.png') right center no-repeat; }
#languageRootGuide .icon3 { background: url('/2013/images/icon_visualization.png') right center no-repeat; }
#languageRootGuide .icon4 { background: url('/2013/images/icon_data.png') right center no-repeat; }
#languageRootGuide .icon5 { background: url('/2013/images/icon_strings.png') right center no-repeat; }
#languageRootGuide .icon6 { background: url('/2013/images/icon_graphs.png') right center no-repeat; }
#languageRootGuide .icon7 { background: url('/2013/images/icon_images.png') right center no-repeat; }
#languageRootGuide .icon8 { background: url('/2013/images/icon_geometry.png') right center no-repeat; }
#languageRootGuide .icon9 { background: url('/2013/images/icon_sound.png') right center no-repeat; }
#languageRootGuide .icon10 { background: url('/2013/images/icon_time.png') right center no-repeat; }
#languageRootGuide .icon11 { background: url('/2013/images/icon_geographic.png') right center no-repeat; }
#languageRootGuide .icon12 { background: url('/2013/images/icon_scientific.png') right center no-repeat; }
#languageRootGuide .icon13 { background: url('/2013/images/icon_eng.png') right center no-repeat; }
#languageRootGuide .icon14 { background: url('/2013/images/icon_finance.png') right center no-repeat; }
#languageRootGuide .icon15 { background: url('/2013/images/icon_social.png') right center no-repeat; }
#languageRootGuide .icon16 { background: url('/2013/images/icon_highermath.png') right center no-repeat; }
#languageRootGuide .icon17 { background: url('/2013/images/icon_documents.png') right center no-repeat; }
#languageRootGuide .icon18 { background: url('/2013/images/icon_ui.png') right center no-repeat; }
#languageRootGuide .icon19 { background: url('/2013/images/icon_system.png') right center no-repeat; }
#languageRootGuide .icon20 { background: url('/2013/images/icon_external.png') right center no-repeat; }
#languageRootGuide .icon21 { background: url('/2013/images/icon_cloud.png') right center no-repeat; }

#languageRootGuide .redbg .links-list a {color: #a50000;}
#languageRootGuide .orangebg .links-list a {color: #994300;}
#languageRootGuide .bluebg .links-list a {color: #005170;}
#languageRootGuide .greenbg .links-list a {color: #4c7000;}
#languageRootGuide .tealbg .links-list a {color: #01614a;}
#languageRootGuide .greybg .links-list a {color: #444;}

#languageRootGuide .redbg {background:url('/2013/images/redpod.png') repeat-x;}
#languageRootGuide .redbg:hover {background:url('/2013/images/redpodover.png') repeat-x;}

#languageRootGuide .orangebg {background:url('/2013/images/orangepod.png') repeat-x;}
#languageRootGuide .orangebg:hover {background:url('/2013/images/orangepodover.png') repeat-x;}

#languageRootGuide .bluebg {background:url('/2013/images/bluepod.png') repeat-x;}
#languageRootGuide .bluebg:hover {background:url('/2013/images/bluepodover.png') repeat-x;}

#languageRootGuide .greenbg {background:url('/2013/images/greenpod.png') repeat-x;}
#languageRootGuide .greenbg:hover {background:url('/2013/images/greenpodover.png') repeat-x;}

#languageRootGuide .tealbg {background:url('/2013/images/tealpod.png') repeat-x;}
#languageRootGuide .tealbg:hover {background:url('/2013/images/tealpodover.png') repeat-x;}

#languageRootGuide .greybg {background:url('/2013/images/greypod.png') repeat-x;}
#languageRootGuide .greybg:hover {background:url('/2013/images/greypodover.png') repeat-x;}

#languageRootGuide .footer-link a { color: #ccc; margin: 10px 0 0 25px; display: inline-block; }
#languageRootGuide .footer-link a:hover { color: #fff; }

#languageRootGuide .clearfloats { clear: both; }

#languageRootGuide .divider { border-top: 1px solid #acacac; margin: -4px 15px 0; }

#languageRootGuide #query { width: 255px; height: 20px; margin: 37px 0 0 0; background: transparent; font-family: 'Open Sans', serif; font-size: 14px; color: #eaeaea; border: 0; outline: none;}
#languageRootGuide .header label.placeholder { right: 142px; } 
#languageRootGuide input.search-reference-input-button { background: transparent; width: 25px; height: 19px; margin: 0 5px 0; border: 0; font-size: 0; cursor: pointer; outline: none; }
.noscript { color: #ccc; background: #555; padding: 10px 15px; border: 1px solid #888; margin: 20px 5px; }
  .noscript a { color: #e77477; }
    .noscript a:hover { color: #bb7777; }