/*ion-view {
background-image:url('../img/shopping1.jpg');

    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0.2);
}*/



.offer-header {

    /color: rgba(255,255,255,0.95);
}

.offer-text {
    color: rgba(255,255,255,0.99);	    
}

.store-header {
    color: rgba(255,255,255,0.9);
    font-weight: normal;
    margin: 0;
    padding-bottom: 5px;
}

.store-description {
    color: rgba(255,255,255,0.99);
    font-weight: heavy;
    margin: 0;
    padding-bottom: 2px;
}

.bg-image {
  position: inherit;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.bg-fade > .ng-enter {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
}

.bg-fade > .ng-enter-active {
  opacity: 1;
}

.bg-fade > .ng-leave {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out;
}

.bg-fade > .ng-leave-active {
  opacity: 0;
}

.offer-wrapper {
    margin: auto;
    text-align: left;
    position: relative;
    margin-bottom: 20px !important;
    width: auto;
    padding-top: 5px;
}

.offer-scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 300px;
    white-space:nowrap;
    -webkit-overflow-scrolling: touch;
}

.offer-div {
    box-shadow: 1px 1px 2px #999;
    margin: 1px;
    height: 80%;
    width: 30%;
    cursor: pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer-div h4 {
    color: white;
}

.offer-div h6 {
    color: white;
}

.offer-search {
    background-color: rgba(0, 0, 0, 0.9);
}

.offer-search-input {
    background-color: rgba(255, 255, 255, 0.95);
}

.offer-modal-div {
    height: 80%;
    width: 80%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.subscriptions-wrapper {
    margin: auto;
    text-align: left;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
}

.option-item-wrapper {
    background-color: rgba(0, 0, 0, 0.99);
}

.option-item-header {
    color: rgba(255,255,255,0.9);
    font-weight: heavy;
    margin: 1;
    padding-bottom: 5px;
    padding-left: 2px;
}

#store-bg {
    position: fixed;
    left: 0;
    top: 44px;
    width: 100%;
    height: 150px;

    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;
    background-size: 100%;
    background-position: 50% 20%;

    text-align: center;
}

#content {
    position: relative;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px -1px 10px rgba(255,255,255,0.4);
    padding-top: 200px;
}

#store-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
}

#store-name {
    color: #444;
    font-size: 26px;
}

#store-description {
    font-size: 15px;
    color: #888;
}

#store-description a {
    color: #888;
}

#store-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;

}

.list-item-content {
    padding: 5px;
}

.list-item {
    color: #666666;
}

.store-bg {
    background-color: rgba(0, 0, 0, 0.9);
}

.offer-tile {
    opacity: 0.9;
    outline: 1px solid #111;
    border-top: 1px solid #555;
    padding: 10px;
    background: #333;
}

.sub-offer-tile {
    opacity: 0.8;
}

.angular-google-map-container { height: 100%; }
