<div id="content" style="opacity: 1;">
   <!-- Add New Offer-->
   <form novalidate="novalidate" ng-submit="addNewOffer()">
      <div id="rootwizard">
         <div class="navbar">
            <div class="navbar-inner">
               <div class="container" style="margin-top:10px">
                  <ul>
                     <li><a href="#offer-name" data-toggle="tab">Offer name</a></li>
                     <li><a href="#offer-description" data-toggle="tab">Description</a></li>
                     <li><a href="#offer-timeline" data-toggle="tab">Timeline</a></li>
                     <li><a href="#offer-review" data-toggle="tab">Review and confirmation</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
               <span >% Complete</span>
            </div>
         </div>
         <div class="tab-content">
            <div class="tab-pane" id="offer-name">
               <div class="container" style="width:500px;height:300px">
                  <div class="bs-callout">
                     <label>Offer name</label>
                     <textarea id="offer-name" class="form-control" rows="1" ng-model="newOffer.name" placeholder="Upto 10% off on Nike Shoes, 5% off on select sunglasses"></textarea>
                     <br/>
                     <label>Store ID</label>

                    <select ng-change="selectAction()" class="form-control" ng-model="newOffer.stores" ng-options="item._id as item.name group by item.address.city for item in storeList">
                         <option>Select Store</option>
                     </select>
                     <br/> 
                     <label>Offer type</label>
                     <select id="offer-type" class="form-control" ng-model="newOffer.offer_type">
                        <option>Discount</option>
                        <option>New release</option>
                        <option>Bulk purchase</option>
                        <option>Upsell</option>
                     </select>
                     <br/>
                     <label>Associated Image</label>
                     <input type="file" name="file" ng-file-select="onFileSelect($files)" >
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="offer-description">
               <div class="container" style="width:500px;height:400px">
                  <div class="bs-callout">
                     <label>Description</label>
                     <textarea id="offer-description" class="form-control" rows="5" ng-model="newOffer.description" placeholder="8% off on Nike Air, 10% off on Nike Football"></textarea>
                     <br/>
                     <div class="form-group">
                        <label>Product type</label>
                        <input id="product-type" type="text" ng-model="newOffer.product_type" class="form-control" id="product-type" placeholder="Watch, shoe, shirt">
                     </div>
                     <div class="form-group">
                        <label>Brands</label>
                        <input id="brands" type="text" ng-model="newOffer.brands" class="form-control" id="product-brand" placeholder="Nike, Adidas">
                     </div>
                     <div class="form-group">
                        <label>Model</label>
                        <input id="model" type="text" ng-model="newOffer.model" class="form-control" id="product-model" placeholder="Nike Air">
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="offer-timeline">
               <div class="container" style="width:500px;height:150px">
                  <h4>Offer start</h4>
                  <div ng-controller="DatepickerDemoCtrl" class="row">
                     <div class="col-md-8">
                        <p class="input-group">
                           <input id="start-date" type="text" datepicker-popup="{{format}}" ng-model="newOffer.start" is-open="opened" min="minDate" max="'2015-06-22'"
                              datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" class="form-control"/>
                           <span class="input-group-btn">
                           <button ng-click="open($event)" class="btn btn-default">
                           <i class="glyphicon glyphicon-calendar"></i>
                           </button>
                           </span>
                        </p>
                     </div>
                  </div>
                  <br/>
                  <h4>Offer end</h4>
                  <div ng-controller="DatepickerDemoCtrl" class="row">
                     <div class="col-md-8">
                        <p class="input-group">
                           <input id="end-date" type="text" datepicker-popup="{{format}}" ng-model="newOffer.end" is-open="opened" min="minDate" max="'2015-06-22'"
                              datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" class="form-control"/>
                           <span class="input-group-btn">
                           <button ng-click="open($event)" class="btn btn-default">
                           <i class="glyphicon glyphicon-calendar"></i>
                           </button>
                           </span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="offer-review">
	       <div class="container" style="width:500px;height:300px">
		 <label>Offer name:</label> {{newOffer.name}}<br/>
		 <label>Offer description:</label> {{newOffer.description}}<br/>
		 <label>Offer type:</label>{{newOffer.offer_type}}<br/>
		 <label>Offer start: </label>{{newOffer.start}}<br/>
		 <label>Offer end: </label>{{newOffer.end}}<br/>
		 <label>Offer brands: </label>{{newOffer.brands}}<br/>
	       </div>
	       <div>
		 <button type="submit" class="btn btn-primary">Create New Offer</button>
	       </div>
            </div>
            <ul class="pager wizard">
               <li class="previous first" style="display:none;"><a href="#">First</a></li>
               <li class="previous"><a href="#">Previous</a></li>
               <li class="next last" style="display:none;"><a href="#">Last</a></li>
               <li class="next"><a href="#">Next</a></li>
            </ul>
         </div>
      </div>
   </form>
</div>
