<!--https://developers.google.com/maps/documentation/javascript/reference?csw=1#MapsEventListener. Look for dragend to find references to all events.-->

Enter your address. For greater accuracy, zoom in and drag the marker over the desired location. The lat/long co-cordinates accurate to 6 decimal degrees is displayed.

<form id="mapform" action="#">
  <p>
    <input id="mapinput" type="text" style="width: 80%;" value="Kolkata" maxlength="100">
    <input type="submit" style="width: 18%;" value="Find">
  </p>
</form>
<div id="mapdiv" style="height: 400px;"></div>
<div id="mapoutput" style="background-color: #FFDD22; font-weight: bold;">Latitude:<br>Longitude:</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOEuJQyKSm1uQol5LqwwnCuk-vWWRdsg4&sensor=true&region=IN"
  type="text/javascript"></script>
<script type="text/javascript">
  google.maps.event.addDomListener(window, "load", function() {
    //
    // initialize map
    //
    var map = new google.maps.Map(document.getElementById("mapdiv"), {
      center: new google.maps.LatLng(22.57265, 88.36389),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    //
    // initialize marker
    //
    var marker = new google.maps.Marker({
      position: map.getCenter(),
      draggable: true,
      map: map
    });
    //
    // intercept map and marker movements
    //
    google.maps.event.addListener(map, "idle", function() {
      marker.setPosition(map.getCenter());
      document.getElementById("mapoutput").innerHTML = "Latitude: " + map.getCenter().lat().toFixed(6) + "<br>Longitude: " + map.getCenter().lng().toFixed(6);
    });
    google.maps.event.addListener(marker, "dragend", function(mapEvent) {
      map.panTo(mapEvent.latLng);
    });
    //
    // initialize geocoder
    //
    var geocoder = new google.maps.Geocoder();
    google.maps.event.addDomListener(document.getElementById("mapform"), "submit", function(domEvent) {
      if (domEvent.preventDefault){
        domEvent.preventDefault();
      } else {
        domEvent.returnValue = false;
      }
      geocoder.geocode({
        address: document.getElementById("mapinput").value
      }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var result = results[0];
          document.getElementById("mapinput").value = result.formatted_address;
          if (result.geometry.viewport) {
            map.fitBounds(result.geometry.viewport);
          }
          else {
            map.setCenter(result.geometry.location);
          }
        } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
          alert("Sorry, the geocoder failed to locate the specified address.");
        } else {
          alert("Sorry, the geocoder failed with an internal error.");
        }
      });
    });
  });
</script>