
<div ng-controller="ExistingOffers">
  <!--span.ribbon-button-alignment-->
<!--  <div id="content" style="opacity: 1;">
    <div class="row">
      <ul class="offers">
        <li ng-repeat="offer in offers" class="animate-if thumbnail">
          <div class="span9">
             
            {{offer.name}} 
            {{offer.start}}
            {{offer.end}}
            {{offer.store_id}}
            {{offer.description}}

	    <div class="pull-right"> <a href="#" class="remove-row">&times</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
-->
<table cellpadding="10" cellspacing="0" border="3" class="table table-striped table-bordered" id="offers">
</table>

