<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <title>ConnR</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/body.css" rel="stylesheet">
    <link href="css/MetroJs.min.css" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOEuJQyKSm1uQol5LqwwnCuk-vWWRdsg4&sensor=false&region=IN"></script>

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-route.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>
    <script src="lib/ionic/js/angular/angular-touch.js"></script>
    <script src="lib/ionic/js/angular/angular-sanitize.js"></script>

    <script src="cordova.js"></script>

    <script src="lib/ionic/js/underscore-min.js"></script>
    <script src="lib/ionic/js/angular/angular-google-maps.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/MetroJs.min.js"></script>

    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

    <script src="js/body.js"></script>

  </head>
  
  <body>
    
    <div ng-controller="MainCtrl">       
      <ion-nav-view> </ion-nav-view>
    </div>

    <script id="connr-menu.html" type="text/ng-template">
      <ion-side-menus>

	<ion-pane ion-side-menu-content>
	  <ion-nav-bar class="bar-dark">
	  </ion-nav-bar>
	  <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>
	
	<ion-side-menu side="left" style="background-color: black;">
	  <header class="bar bar-header bar-assertive">
	    <h1 class="title">Menu</h1>
	  </header>
	  <ion-content class="has-header">
	    <ion-list>
      	      <ion-item nav-clear menu-close href="#/connr/home">
		<i class="icon ion-home placeholder-icon"></i>
		Home
              </ion-item>
              <ion-item nav-clear menu-close href="#/connr/check-in">
		<i class="icon ion-ios7-cart placeholder-icon"></i>
		Check-in
              </ion-item>
	      <ion-item nav-clear menu-close href="" ng-controller="ScanCtrl" ng-click="scan()">
		<i class="icon ion-ios7-cog placeholder-icon"></i>
		Scan
              </ion-item>
	      <ion-item nav-clear menu-close href="#/connr/map-view">
		<i class="icon ion-ios7-world-outline placeholder-icon"></i>
		Map View
              </ion-item>
              <ion-item nav-clear menu-close href="#/connr/subscriptions">
		<i class="icon ion-ios7-cog placeholder-icon"></i>
		Subscriptions
              </ion-item>
              <ion-item nav-clear menu-close href="" ng-controller="LogoutCtrl" ng-click="connrlogout()">
		<i class="icon ion-log-out placeholder-icon"></i>
		Logout
              </ion-item>
	    </ion-list>
	  </ion-content>
	</ion-side-menu>
      </ion-side-menus>
    </script>
    
    <script id="sign-in.html" type="text/ng-template">
      
      <ion-nav-bar class="bar-dark nav-title-slide-ios7">
	<ion-nav-back-button class="button-icon ion-arrow-left-c">
	</ion-nav-back-button>
      </ion-nav-bar>
      
      <ion-nav-view animation="slide-left-right"></ion-nav-view>  
      
      <ion-view title="Sign-In">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-dark" ng-click="signIn(user)">
              Sign-In
            </button>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
            </p>
          </div>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="forgot-password.html" type="text/ng-template">
      <ion-view title="Forgot Password">
        <ion-content padding="true">
          <p>
            Add controller
          </p>
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="home.html" type="text/ng-template">
      <ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      
      
      <ion-view title="Welcome">
	<background-cycler class="bg-fade"></background-cycler>
	<ion-content class="has-header" padding="true" ng-model="offer">
	  <div class="tiles tile-group two-wide" ng-repeat="offer in offers | filter2">
	    <div class="tile-strip two-wide">
              <div class="steel live-tile offer-tile" ng-click="getOfferModal(offer)" data-mode="carousel" date-direction="horizontal" data-delay="4000">
		<div>
		  <span class="bottom metroExtraLarge">{{offer.name}}</span><br>
		  <span class="bottom metroLarge">{{offer.description}}</span>
		</div>
		<div>
		  <img class="full" ng-src="http://connr.us/images/{{offer.image}}" alt="3" />
		</div>
	      </div>
	      <div class="sienna live-tile offer-tile" ng-click="getOfferModal({{offers[($index * 2 + 1)]}})" data-mode="flip" data-delay="2000">
		<div>
		  <span class="bottom metroExtraLarge">{{offers[($index * 2 + 1)].name}}</span><br>
		  <span class="bottom metroLarge">{{offers[($index * 2 + 1)].description}}</span>
		</div>
		<div>
		  <img class="full" ng-src="http://connr.us/images/{{offers[($index * 2 + 1)].image}}" alt="3" />
		</div>
	      </div>
	    </div>
	  </div>
	</ion-content>
      </ion-view>
    </script>

    <script id="scan.html" type="text/ng-template">
      <ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      
      <ion-view title="Item scan" style="width: 100vw">
	<ion-content class="has-header"  class="store-bg">
      </ion-view>
    </script>

    <script id="check-in.html" type="text/ng-template">
      <ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      
      <ion-view title="Store Check-in" style="width: 100vw">
	<ion-content class="has-header"  class="store-bg">
	  <div id="store-bg"></div>
	  <div id="content">
            <div id="store-info">
              <h3 id="store-name"> {{store.name}} </h3>
              <span id="store-description"> {{store.desc}} </span>
            </div>
	    <div id="store-offers">
	    Offers: 
	      {{store.offers}}
	    </div>
	    <div id="store-subscribe">
	      <ion-toggle ng-model="store.Subscribed" ng-checked="store.Subscribed"
			  ng-change="storeSubscriptionChanged()"
			  class="store-bg">
		Subscribe
              </ion-toggle>
	    </div>
	  </div>
	</ion-content>
      </ion-view>
    </script> 
    
    <script id="subscriptions.html" type="text/ng-template">
      <ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      
      <ion-view title="Subscriptions">
	<ion-content  class="has-header" >
	  <div class="list">
            <ion-toggle ng-repeat="store in stores | orderBy:'storeName' | orderBy:'storeLoc'"
			ng-model="store.subscribed"
			ng-checked="store.subscribed"
			ng-change="subscribedChange(store)"
			style="background-color: rgba(0,0,0,0.9); width: 100vw;">
              <h2 class="store-header"> {{ store.name }} </h2>
	      <p class="store-description"> {{ store.description }} </p>
	    </ion-toggle>
	  </div>
	</ion-content>
      </ion-view>
    </script>

<script id="modal_offer.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Offer Details</h1>
      <button class="button button-clear button-primary" ng-click="offerModal.hide()">Cancel</button>
    </header>
    <ion-view title="'Welcome'" left-buttons="leftButtons">
      <background-cycler class="bg-fade"></background-cycler>
      <ion-content has-header="true">
        <div class="padding">
          <div class="offer-modal-div">
            <h3 style="color:white">Offer: {{activeOffer.name}}</h3>
            <label>Description: {{activeOffer.description}}</label></br>
            <label>Brands: {{activeOffer.brands}}</label></br>
            <label>Product type: {{activeOffer.product_type}}</label></br>
            <label>Model Specifics: {{activeOffer.model}}</label></br>
            <label>Popularity: {{activeOffer.num_viewed}}</label></br>
            <label>Start Date: {{activeOffer.start}}</label></br>
            <label>End Date: {{activeOffer.end}}</label></br>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </div>
</script>

<script id="modal_store.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Offer Details</h1>
      <button class="button button-clear button-primary" ng-click="storeModal.hide()">Cancel</button>
    </header>
    <ion-view title="'Welcome'" left-buttons="leftButtons">
      <background-cycler class="bg-fade"></background-cycler>
      <ion-content has-header="true">
        <div class="padding">
          <div class="offer-modal-div">
            <h3 style="color:white">Store: {{activeStore.name}}</h3>
            <label>Description: {{activeStore.desc}}</label></br>
            <label>Phone: {{activeStore.phone}}</label></br>
            <label>Email: {{activeStore.email}}</label></br>
            <label>Offers: {{activeStore.offers}}</label></br>
          </div>
        </div>
       </ion-content>
    </ion-view>
  </div>
</script>

<script id="map_view.html" type="text/ng-template">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-view title="Map View">
    <google-map center="map.center" zoom="map.zoom" draggable="true">
      <markers models="map.markers2" coords="'self'" icon="'icon'" click="'onClicked'"
               labelContent="'title'" labelAnchor="22 0" labelClass="marker-labels">
        <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
          <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>
          <p class="muted">My marker will stay open when the window is popped up!</p>
        </windows>
      </markers>
    </google-map>
  </ion-view>
</script>
</body>
</html>
