extends layout

block head
	// CSS
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/connr-production.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')

	// Angular Custom
	script(type='text/javascript', src='/javascripts/controllers/ExistingOffers.js')
	script(type='text/javascript', src='/javascripts/controllers/Animate.js')




block content
	body.desktop-detected(style="min-height: 1681px;", ng-controller="ExistingOffers",ng-init="setExist(#{JSON.stringify(offers)})")

		//Header design begins
		header#header
			div#logo-group
				span#logo
					img(src="/images/logo_pl.jpeg", alt="ConnR")
			div
				| ConnR - Connect retailers to customers

		//left panel design begins
		aside#left-panel(style="min-height: 1632px;")
			div.login-info
				span:img.online(src="", alt="me")
				a#show-shortcut(href='') John Doe
			nav
				ul
					li.active
						a(href='#',)
							i.fa.fa-lg.fa-fw.fa-home
							span.menu-item-parent 
							| Dashboard 
					li
						a(href='#', ng-click=""	)
							i.fa.fa-lg.fa-fw.fa-table
							span.menu-item-parent 
							| Create New Offers
					li
						a(href='#', ng-click="toggleVisibility()")
							i.fa.fa-lg.fa-fw.fa-bar-chart-o
							span.menu-item-parent 
							| View Existing Offers 
							
					li
						a(href='#')
							i.fa.fa-lg.fa-fw.fa-pencil-square-o
							span.menu-item-parent 
							| Analytics
					li
						a(href='#')
							i.fa.fa-lg.fa-fw.fa-list-alt
							span.menu-item-parent 
							| Suggestions
		//End left-bar navigation
		div#main(role="main")
			//span.ribbon-button-alignment
			div#content(style="opacity: 1;")
				div.row
					ul
						li.animate-if(ng-repeat="offer in offers")
							div.span9 
								| {{offer.name}} 
								| {{offer.start}}
								| {{offer.end}}
								| {{offer.store_id}}
								| {{offer.description}}


